@require "fonts"
@require "colors"
@require "header"
@require "about"
@require "projects"

body
    background-color: $black
    font-family: $sans-serif

.container
    display: flex
    flex-direction: column
    justify-content: center

.fly-in
    animation: fly-up 0.3s ease-out

@keyframes fly-up
    0%
        transform: translateY(20%)
    100%
        transform: translateY(0%)